* {
    margin: 0;
    box-sizing: border-box;
    color: #55bcf7;
    font-family: "Comic Neue", cursive;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.subtitle {
    text-align: center;
    font-size: 30px;
    color: #55bcf7;
    margin-bottom: 40px;
}

.banner {
    width: 1000px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: #55bcf7 2px solid;
    border-radius: 10px;
    text-align: center;
    height: 50px;
    width: 500px;
    font-size: 20px;
    margin: 5px;
}

button {
    border: #55bcf7 1px solid;
    border-radius: 10px;
    background-color: #55bcf7;
    color: white;
    height: 50px;
    width: 500px;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.margin {
    margin-bottom: 50px;
}

.error {
    margin-bottom: 20px;
    color: tomato;
}

.reset-pass {
    font-size: 22px;
    margin-bottom: 5px;
}

.small-logo {
    width: 100px;
}

.small-pic {
    max-height: 50px;
    max-width: 50px;
}

.big-pic {
    max-height: 500px;
    max-width: 200px;
}

.prof-pic {
    height: 100%;
    width: 100%;
}

.app {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 20px 5%;
    border-bottom: lightskyblue 2px solid;
}

.right-nav {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

.prof-log-out {
    display: flex;
    flex-direction: column;
    align-items: center;
}
